* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

  background-color: #0d1117;
  color: #c9d1d9;

  padding-top: 50px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}
